html,
body {
  background-color: #1e1e2f;
  height: 100%;
}
body {
  font-family: 'Inter', sans-serif !important;
}

.table thead th {
  font-weight: 600;
}

.btn {
  border-radius: 6px;
}

.card {
  border-radius: 10px;
}